<p>admindash works!</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>age</th>
        <th>blood</th>
        <th>Prescription</th>
        <th>dose</th>
        <!-- <th>fees</th> -->
        <th>urgency</th>
    </tr>
</thead>
<tbody>
<tr *ngFor="let patient of patients">
    <td>{{patient.id}}</td>
    <td>{{patient.name}}</td>
    <td>{{patient.age}}</td>
    <td>{{patient.blood}}</td>
    <td>{{patient.prescription}}</td>
    <td>{{patient.dose}}</td>
    <!-- <td>{{patient.fees}}</td> -->
    <td>{{patient.urgency}}</td>

</tr>

</tbody>
</table>